@model Entidades.Rol

@{
    ViewData["Title"] = "Create";
}

<style>
    /* Estilos personalizados */
    .form-container {
        max-width: 800px;
        padding: 20px;
        background-color: #f7f7f7;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: auto;
        margin-top: 20px;
    }

        .form-container h1 {
            text-align: center;
            font-size: 28px;
            font-weight: bold;
            color: #333;
            text-transform: uppercase;
        }

        .form-container .row {
            margin-bottom: 10px;
        }

        .form-container label {
            font-weight: bold;
        }

        .form-container .btn-primary {
            margin-right: 10px;
        }
</style>

<div class="form-container">
    <h1>Crear</h1><br />

    <h5>Nuevo Rol</h5>
    <hr />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-4">
                <label class="control-label">NOMBRE:</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="GUARDAR" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">CANCELAR</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}