@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #6d6d6d;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
    }

    .presentation {
        margin-top: 150px;
        color: white;
        text-align: center;
    }

        .presentation h1 {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .presentation p {
            font-size: 20px;
            margin-bottom: 30px;
        }

        .presentation .highlight {
            color: #ffcf1b;
            font-weight: bold;
        }
</style>

<div class="presentation">
    <h1>Bienvenidos</h1>
    <p>La aplicación es una plataforma académica que facilita el registro de estudiantes, la gestión de materias y la asignación de roles para profesores. Simplifica las tareas administrativas y mejora el seguimiento académico.</p>
    <p>Las tecnologías utilizadas son: <span class="highlight">C#</span>, <span class="highlight">ASP.NET Core 8</span> y <span class="highlight">Entity Framework</span>.</p>
</div>